.container{
  width: 400px;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 8px;

}

.container h2{
  font-size: 30px;
  margin-top: 20px;
}

.container p{
  font-size: 18px;
  color:var(--light-alt);
  font-weight:200;
  margin-top: 20px;
  margin-bottom: 20px;
}